h2 {
  color: darkblue;
  font-style: italic;
}

.message {
  color: green;
  background: rgba(236, 236, 236, 0.877);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  background: rgba(236, 236, 236, 0.877);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}